<!DOCTYPE html>
<html>
<head>
	<title>Qr Data</title>
	<style>
		.button {
			background-color: aqua;
			color: black;
			text-align: center;
			font-size: 25px;
			margin: 20px;
		}
	</style>
</head>
<body>
	<div align="center" class="btn-group" role="group" aria-label="Basic example" style="margin: 20em;">
		<a href="index"><button type="button" class="button">Single QR Generator</button></a>
		<a href="multipleQr"><button type="button" class="button">Multiple QR Generator</button></a>
		<a href="csvFile"><button type="button" class="button">Read/Write CSV File</button></a>
	</div>
</body>
</html>